doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shink-to-fit=no")
    meta(name="description", content="Zach Dyer Blog")
    meta(name="author", content="Zach Dyer")
    title #{company} - Admin Area
    link(href="/vendor/bootstrap/css/bootstrap.min.css", rel="stylesheet")
    link(href="/css/dashboard.css", rel="stylesheet")
    
  body
    #{email}
    if email
      nav(class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0")
        a(class="navbar-brand col-sm-3 col-md-2 mr-0", href="/admin") #{company}
        input(class="form-control form-control-dark w-100", 
          type="text", 
          placeholder="Search", 
          aria-label="Search")
        ul(class="navbar-nav px-3")
          li(class="nav-item text-nowrap")
            a(class="nav-link", href="/admin/?logout=1") Sign out
    
    
  !='<div class="container-fluid">'
  !='<div class="row">'